@model CloudTestApplication.Models.User
<div class="text-center">
    <h1 class="display-4">Welcome  @Model.Username</h1>
    <div>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</div>